.btn {
    border: 1px solid;
}

.collapsedLabel {
    max-height: 0px;
    border: 1px solid;
    transition: all ease 1s;
}

.expandedLabel {
    max-height: 100px;
    border: 1px solid;
    transition: all ease 1s;
}

.collapsedLabel>.my-card {
    padding: 0;
    transition: all ease 1s;
}

.my-card {
    padding: 2rem;
    transition: all ease 1s;
}